<div id="comments">
	{% case page.static_comments_count %}
		{% when 0 %}
		{% when 1 %}
			<h1>1 Comment</h1>
		{% else %}
			<h1>{{page.static_comments_count}} Comments</h1>
	{% endcase %}
	{% for c in page.static_comments %}
		<div id="{{c.comment_id}}" class="comment_{% cycle 'odd', 'even' %}">
			<p class="comment_header">
				{% if c.link and c.link != '' %}
					<a href="{{c.link}}">{{c.name}}</a>
				{% else %}
					{{c.name}}
				{% endif %}
				{% if c.date %}
					– <span class="comment_date">{{c.date}}</span>
				{% endif %}
				<a href="#{{c.comment_id}}" title="Permalink">#</a>
			</p>
			{{c.comment | markdownify }}
		</div>
	{% endfor %}
	<h1>Post a comment</h1>
	<p>
		Your email address will <em>not</em> be published. The form
		doesn’t spit out an email? Go get a real browser and/or mail client.
	</p>
	<form id="commentform" enctype="text/plain" method="POST" action="mailto:{{ site.email }}?Subject=New Comment: {{ page.title }}">
		<input type="hidden" name="post_id" value="{{page.id}}" />
		<table>
			<tr>
				<th>Name:</th>
				<td><input type="text" size="25" name="name" /></td>
			</tr>
			<tr>
				<th>Website:</th>
				<td><input type="text" size="25" name="link" /></td>
			</tr>
			<tr>
				<td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Submit Comment" /></td>
			</tr>
		</table>
	</form>
</div>
